/build/resources/main/application.properties
/build/classes/java/main/com/ifsp/biblioteca/BibliotecaApplication.class
/build/classes/java/test/com/ifsp/biblioteca/BibliotecaApplicationTests.class
/build.gradle
/build.gradle.kts
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.5.1/checksums/checksums.lock
/build/classes/java/main/com/ifsp/biblioteca/Conexao.class
/build/classes/java/main/com/ifsp/biblioteca/BibliotecaDAO/CreateTables.class
/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.5.1/executionHistory/executionHistory.bin
/.gradle/7.5.1/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.5.1/fileHashes/fileHashes.bin
/.gradle/7.5.1/fileHashes/fileHashes.lock
/.gradle/7.5.1/dependencies-accessors/gc.properties
/.gradle/7.5.1/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/HELP.md
/.gradle/7.5.1/fileChanges/last-build.bin
/build/classes/java/main/com/ifsp/biblioteca/BibliotecaDAO/LivroDAO.class
/build/classes/java/main/com/ifsp/biblioteca/model/LivroModel.class
/.gradle/7.5.1/checksums/md5-checksums.bin
/build/classes/java/main/com/ifsp/biblioteca/DTO/MySqlLivro.class
/build/classes/java/main/com/ifsp/biblioteca/DTO/MySqlPublisher.class
/build/classes/java/main/com/ifsp/biblioteca/DTO/MySqlUsuario.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/resources/main/META-INF/plugin.xml
/build/resources/main/META-INF/pluginIcon.svg
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/classes/java/main/com/ifsp/biblioteca/BibliotecaDAO/PublisherDAO.class
/build/classes/java/main/com/ifsp/biblioteca/model/PublisherModel.class
/README.md
/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
/build/classes/java/main/com/ifsp/biblioteca/Routes/RouteLivro.class
/build/classes/java/main/com/ifsp/biblioteca/Routes/RoutePublisher.class
/build/classes/java/main/com/ifsp/biblioteca/Routes/RouteUser.class
/.run/Run IDE with Plugin.run.xml
/settings.gradle
/settings.gradle.kts
/.gradle/7.5.1/checksums/sha1-checksums.bin
/build/classes/java/main/com/ifsp/biblioteca/BibliotecaDAO/UsuarioDAO.class
/build/classes/java/main/com/ifsp/biblioteca/model/UsuarioModel.class
